<%= render "layouts/header"%>

<section class="page-header-section style-1">
    <div class="container">
        <div class="page-header-content">
            <div class="page-header-inner">
                <div class="page-title">
                    <h2>Sign Up</h2>
                </div>
                <ol class="breadcrumb">
                    <li><a href="<%= root_path %>">Home</a></li>
                    <li class="active">Sign Up</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<div class="login-section padding-top padding-bottom">
    <div class=" container">
        <div class="row g-5 align-items-center flex-md-row-reverse">
            <div class="col-lg-5">
                <div class="account-wrapper">
                    <h3 class="title">Sign Up</h3>

                  <%= form_for @service.person, :url => APP_CONFIG.login_domain.to_s + people_path, html: { class: "account-form" } do |form| %>
                        <div class="form-floating mb-3">
                          <%= form.text_field :username, :class => "form-control", :id => "userIdInput", :autocomplete => "off", placeholder: 'user-id' %>
<!--                            <input type="text" class="form-control" id="userIdInput" placeholder="user-id">-->
                            <label for="userIdInput">User ID</label>
                        </div>
                        <div class="form-floating mb-3">
                          <%= form.text_field :email, :class => "form-control", :id => "floatingInput", :autocomplete => "off", placeholder: 'name@example.com' %>
                            <label for="floatingInput">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                          <%= form.text_field :password, :class => "form-control", :id => "floatingPassword", type: "password", :autocomplete => "off", placeholder: 'Password' %>
                            <label for="floatingPassword">Password</label>
                        </div>
                        <div class="form-floating mb-3">
                          <%= form.text_field :password2, :class => "form-control", type: "password", :id => "confirmPass", :autocomplete => "off", placeholder: 'Confirm Password' %>
                            <label for="confirmPass">Confirm Password</label>
                        </div>
                        <div class="form-group">
                            <div class="d-flex justify-content-between flex-wrap pt-sm-2">
                                <div class="checkgroup">
                                    <input type="checkbox" name="remember" id="remember">
                                    <label for="remember">Remember Me</label>
                                </div>
                                <a href="forgot-pass.html">Forgot Password?</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="d-block default-btn move-top"><span>Sign up Now</span></button>
                        </div>
                    <%end %>
                    <div class="account-bottom">
                            <span class="d-block cate pt-10">Already Have an Account? <a href="<%= login_path %>"> Sign
                                    In</a></span>
                        <span class="or"><span>or</span></span>
                        <h5 class="subtitle">Sign up With...</h5>
                        <ul class="social-media social-color lab-ul d-flex justify-content-center">
                            <li>
                                <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#" class="pinterest"><i class="icofont-pinterest"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="account-img">
                    <%= image_tag "account/01.png", alt: "shape-image" %>
                </div>
            </div>
        </div>

    </div>
</div>
<%= render "layouts/footer" %>


<%#= form_for @service.person, :url => APP_CONFIG.login_domain.to_s + people_path do |form| %>
  <%# # Invite code %>
  <%# if @current_community.join_with_invite_only? %>
<!--    <div class="inline-label-container">-->
      <%#= label_tag :invitation_code, t('.invitation_code'), :class => "inline" %>
      <%#= link_to(t('common.what_is_this'), "#", :tabindex => "-1", :id => "help_invitation_code_link", :class => "label-info") %>
<!--    </div>-->
    <%#= text_field_tag "invitation_code", nil, :class => :text_field, :maxlength => "20", :value => (params[:code] || "") %>
  <%# elsif params[:code] %>
    <%#= hidden_field_tag "invitation_code", params[:code] %>
  <%# end %>
  <%# # Honey pot: hidden field to detect spammers %>
  <%#= form.label :input_again, "You should not see this field, if CSS is working. If you see this, please send feedback!", :class => "unwanted_text_field" %>
  <%#= form.text_field :input_again, :class => "unwanted_text_field", :id => "error_regristration_unwanted_email2", :autocomplete => "off" %>
  <%# # Email %>
  <%#= form.label :email, t('.email') %>
  <%#= form.text_field :email, :class => :text_field, :maxlength => "255" %>
  <%# # Name %>
  <%#= form.label :given_name, t('.given_name') %>
  <%#= form.text_field :given_name, :class => :text_field, :maxlength => "30" %>
  <%#= form.label :family_name, t('.family_name') %>
  <%#= form.text_field :family_name, :class => :text_field, :maxlength => "30" %>
  <%# # Password %>
  <%#= form.label :password, t('common.password') %>
  <%#= form.password_field :password, :class => :text_field, :maxlength => "255", :id => "person_password1" %>
  <%#= form.label :password2, t('.password_again') %>
  <%#= form.password_field :password2, :class => :text_field, :maxlength => "255" %>
  <%# if @service.has_person_custom_fields? %>
    <%# @service.custom_field_values.each_with_index do |custom_field_value, index| %>
      <%# custom_field = custom_field_value.question %>
      <%# custom_field.with_type do |field_type| %>
        <%# prefix = "person[custom_field_values_attributes][]" %>
<!--        <div class="inline-label-container">-->
          <%#= label "person_custom_fields", index, custom_field.name(I18n.locale),class: 'inline' %>

      <%# end %>
      <%# if custom_field.public? %>
<!--        <small>-->
          <%#= t('.this_field_will_be_publicly_visible') %>
<!--        </small>-->
      <%# end %>
<!--      </div>-->
      <%#= hidden_field_tag "#{prefix}[id]", custom_field_value.id %>
      <%#= hidden_field_tag "#{prefix}[type]", custom_field_value.type %>
      <%#= hidden_field_tag "#{prefix}[custom_field_id]", custom_field_value.custom_field_id %>
      <%#= render "settings/custom_fields/#{field_type}", :service => @service %>
    <%# end %>
  <%# end %>
<%# end %>
